@font-face {
    font-family: "Noto Sans";
    src: url("/lib/fonts/Noto_Sans/notosans-light.eot");
    src: local("Noto Sans Light"), local("NotoSans-Light"), 
    url("/lib/fonts/Noto_Sans/NotoSans-Light.eot?#iefix") format("embedded-opentype"), 
    url("/lib/fonts/Noto_Sans/NotoSans-Light.woff2") format("woff2"), 
    url("/lib/fonts/Noto_Sans/NotoSans-Light.woff") format("woff"), 
    url("/lib/fonts/Noto_Sans/NotoSans-Light.ttf") format("truetype"), 
    url("/lib/fonts/Noto_Sans/NotoSans-Light.svg#NotoSans-Light") format("svg");
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Noto Sans";
    src: url("/lib/fonts/Noto_Sans/NotoSans-LightItalic.eot");
    src: local("Noto Sans LightItalic"), local("NotoSans-LightItalic"),
    url("/lib/fonts/Noto_Sans/NotoSans-LightItalic.eot?#iefix") format("embedded-opentype"),
    url("/lib/fonts/Noto_Sans/NotoSans-LightItalic.woff2") format("woff2"),
    url("/lib/fonts/Noto_Sans/NotoSans-LightItalic.woff") format("woff"),
    url("/lib/fonts/Noto_Sans/NotoSans-LightItalic.ttf") format("truetype"),
    url("/lib/fonts/Noto_Sans/NotoSans-LightItalic.svg#NotoSans-LightItalic") format("svg");
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: "Noto Sans";
    src: url("/lib/fonts/Noto_Sans/NotoSans-Regular.eot");
    src: local("Noto Sans Regular"), local("NotoSans-Regular"),
    url("/lib/fonts/Noto_Sans/NotoSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("/lib/fonts/Noto_Sans/NotoSans-Regular.woff2") format("woff2"),
    url("/lib/fonts/Noto_Sans/NotoSans-Regular.woff") format("woff"),
    url("/lib/fonts/Noto_Sans/NotoSans-Regular.ttf") format("truetype"),
    url("/lib/fonts/Noto_Sans/NotoSans-Regular.svg#NotoSans-Regular") format("svg");
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Noto Sans";
    src: url("/lib/fonts/Noto_Sans/NotoSans-Italic.eot");
    src: local("Noto Sans Italic"), local("NotoSans-Italic"),
    url("/lib/fonts/Noto_Sans/NotoSans-Italic.eot?#iefix") format("embedded-opentype"),
    url("/lib/fonts/Noto_Sans/NotoSans-Italic.woff2") format("woff2"),
    url("/lib/fonts/Noto_Sans/NotoSans-Italic.woff") format("woff"),
    url("/lib/fonts/Noto_Sans/NotoSans-Italic.ttf") format("truetype"),
    url("/lib/fonts/Noto_Sans/NotoSans-Italic.svg#NotoSans-Italic") format("svg");
    font-weight: 400;
    font-style: italic;
  }
  
  @font-face {
    font-family: "Noto Sans";
    src: url("/lib/fonts/Noto_Sans/NotoSans-Medium.eot");
    src: local("Noto Sans Medium"), local("NotoSans-Medium"),
    url("/lib/fonts/Noto_Sans/NotoSans-Medium.eot?#iefix") format("embedded-opentype"),
    url("/lib/fonts/Noto_Sans/NotoSans-Medium.woff2") format("woff2"),
    url("/lib/fonts/Noto_Sans/NotoSans-Medium.woff") format("woff"),
    url("/lib/fonts/Noto_Sans/NotoSans-Medium.ttf") format("truetype"),
    url("/lib/fonts/Noto_Sans/NotoSans-Medium.svg#NotoSans-Medium") format("svg");
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Noto Sans";
    src: url("/lib/fonts/Noto_Sans/NotoSans-MediumItalic.eot");
    src: local("Noto Sans MediumItalic"), local("NotoSans-MediumItalic"),
    url("/lib/fonts/Noto_Sans/NotoSans-MediumItalic.eot?#iefix") format("embedded-opentype"),
    url("/lib/fonts/Noto_Sans/NotoSans-MediumItalic.woff2") format("woff2"),
    url("/lib/fonts/Noto_Sans/NotoSans-MediumItalic.woff") format("woff"),
    url("/lib/fonts/Noto_Sans/NotoSans-MediumItalic.ttf") format("truetype"),
    url("/lib/fonts/Noto_Sans/NotoSans-MediumItalic.svg#NotoSans-MediumItalic") format("svg");
    font-weight: 500;
    font-style: italic;
  }
  
  @font-face {
    font-family: "Noto Sans";
    src: url("/lib/fonts/Noto_Sans/NotoSans-Bold.eot");
    src: local("Noto Sans Bold"), local("NotoSans-Bold"),
    url("/lib/fonts/Noto_Sans/NotoSans-Bold.eot?#iefix") format("embedded-opentype"),
    url("/lib/fonts/Noto_Sans/NotoSans-Bold.woff2") format("woff2"),
    url("/lib/fonts/Noto_Sans/NotoSans-Bold.woff") format("woff"),
    url("/lib/fonts/Noto_Sans/NotoSans-Bold.ttf") format("truetype"),
    url("/lib/fonts/Noto_Sans/NotoSans-Bold.svg#NotoSans-Bold") format("svg");
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Noto Sans";
    src: url("/lib/fonts/Noto_Sans/NotoSans-BoldItalic.eot");
    src: local("Noto Sans BoldItalic"), local("NotoSans-BoldItalic"),
    url("/lib/fonts/Noto_Sans/NotoSans-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("/lib/fonts/Noto_Sans/NotoSans-BoldItalic.woff2") format("woff2"),
    url("/lib/fonts/Noto_Sans/NotoSans-BoldItalic.woff") format("woff"),
    url("/lib/fonts/Noto_Sans/NotoSans-BoldItalic.ttf") format("truetype"),
    url("/lib/fonts/Noto_Sans/NotoSans-BoldItalic.svg#NotoSans-BoldItalic") format("svg");
    font-weight: 700;
    font-style: italic;
  }

  //condensed
  @font-face {
    font-family: "Noto Sans";
    src: url("/lib/fonts/Noto_Sans/NotoSans-Condensed.eot");
    src: local("Noto Sans Condensed"), local("NotoSans-Condensed"),
    url("/lib/fonts/Noto_Sans/NotoSans-Condensed.eot?#iefix") format("embedded-opentype"),
    url("/lib/fonts/Noto_Sans/NotoSans-Condensed.woff2") format("woff2"),
    url("/lib/fonts/Noto_Sans/NotoSans-Condensed.woff") format("woff"),
    url("/lib/fonts/Noto_Sans/NotoSans-Condensed.ttf") format("truetype"),
    url("/lib/fonts/Noto_Sans/NotoSans-Condensed.svg#NotoSans-Condensed") format("svg");
    font-weight: normal;
    font-style: normal;
    font-stretch: condensed;
  }